<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meltube</title>
    <link rel="shortcut icon" th:href="@{'/assets/images/favicon.ico'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/assets/styles/common.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/assets/styles/index.signed.css'}">
    <script type="text/javascript" th:src="@{'/assets/scripts/common.js'}"></script>
    <script defer type="text/javascript" th:src="@{'/assets/scripts/index.signed.js'}"></script>
    <script src="https://kit.fontawesome.com/be247728af.js" crossorigin="anonymous"></script>
</head>
<body>
<nav id="nav">
    <img th:src="@{/assets/images/index.signed/_logo-img.png}" alt="" class="logo">
    <ul class="menu">
        <li class="title">마이뮤직</li>
        <li class="item" rel="mymusic.register">음원 등록 신청</li>
        <li class="item" rel="mymusic.register_history">음원 등록 신청 내역</li>
    </ul>
</nav>
<main id="main">
    <header class="header">

    </header>
    <div class="content" rel="mymusic.register">
        <h3 class="subtitle">마이뮤직</h3>
        <h2 class="title">음원 등록 신청</h2>
        <form novalidate class="default-form">
            <span class="text">음원을 등록하기 위해 아래 양식을 완성해 주세요.<br> 음원은 관리자의 승인 후 등록되며 관리자의 승인까지는 수 일이 소요될 수 있습니다.<br> 또한, 이미 등록되어 있는 음원이거나 사회 미풍양속을 저해한다고 판단되는 등 등록하기에 적절하지 않은 경우 등록이 거절될 수 있습니다.</span>
            <span class="text">아래 도구를 통해 멜론의 음원 아이디를 입력하여 양식을 자동으로 완성할 수 있습니다.</span>
            <label class="--obj-label melon" data-id="melon">
                <span class="_text">멜론 검색</span>
                <span class="row">
                    <input autocomplete="off" maxlength="25" minlength="1" name="melonKeyword" placeholder="멜론 음원 검색"
                           type="text" class="_field --obj-field -dark">
                    <input autocomplete="off" maxlength="25" minlength="1" name="melonId" placeholder="멜론 음원 식별자"
                           type="text" class="_field --obj-field -dark">
                    <button class="--obj-button -color-light-gray" name="melonCrawlButton" type="button">멜론 검색</button>
                    <span class="result">
                        <span class="message init">
                            <i class="icon fa-solid fa-magnifying-glass"></i>
                            <span class="text">검색어를 입력해 주세요.</span>
                        </span>
                        <span class="message loading" style="display: none">
                            <i class="icon fa-solid fa-spinner"></i>
                        </span>
                        <span class="message empty" style="display: none">
                            <i class="icon fa-regular fa-file"></i>
                            <span class="text">표시할 검색 결과가 없습니다.</span>
                        </span>
                        <span class="message error" style="display: none">
                            <i class="icon fa-solid fa-triangle-exclamation"></i>
                            <span class="text">검색 도중 오류가 발생하였습니다.</span>
                        </span>
                    </span>
                </span>
                <span class="_warning">올바른 멜론 음원 식별자를 입력해 주세요.</span>
            </label>
            <span class="text">멜론에서 검색되지 않는 음원이나, 직접 양식을 작성하고 싶은 경우 위 기능을 사용하지 않고 아래 양식을 직접 입력하여도 좋습니다.</span>
            <label class="--obj-label cover">
                <span class="_text">커버 이미지</span>
                <span class="row">
                    <span class="preview-wrapper">
                        <span class="text">커버 이미지를 선택해 주세요.</span>
                        <img src="" alt="" class="image" style="display: none">
                    </span>
                    <span class="input-wrapper">
                        <input hidden required accept="image/*" name="_cover" type="file">
                        <span class="tip">* 커버 이미지의 확장자는 <code>gif</code>, <code>jpg</code>, <code>jpeg</code>, <code>png</code>, <code>webp</code> 등이어야 합니다.</span>
                        <span class="tip">* 커버 이미지의 가로 및 세로 크기는 같아야 합니다.</span>
                        <span class="tip">* 커버 이미지의 파일 크기는 10MB를 초과하지 않아야 합니다.</span>
                        <span class="--obj-button -color-primary">커버 이미지 찾기</span>
                    </span>
                </span>
            </label>
            <label class="--obj-label youtube">
                <span class="_text">유튜브 식별자</span>
                <span class="row">
                    <span class="input-wrapper">
                        <input required autocomplete="off" class="_field --obj-field -dark" maxlength="11"
                               minlength="11" name="youtubeId" type="text">
                        <button class="--obj-button -color-light-gray" name="youtubeIdCheckButton" type="button">유튜브 식별자 확인</button>
                    </span>
                    <span class="iframe-wrapper">
                        <span class="text">유튜브 식별자를 입력해 주세요.</span>
                        <iframe class="iframe" style="display: none;"></iframe>
                    </span>
                </span>
            </label>
            <label class="--obj-label -dark" data-id="artist">
                <span class="_text">아티스트</span>
                <input required autocomplete="off" type="text" class="_field --obj-field -dark" maxlength="50"
                       minlength="1" name="artist">
                <span class="_warning">올바른 아티스트를 입력해 주세요.</span>
            </label>
            <label class="--obj-label -dark" data-id="album">
                <span class="_text">앨범 이름</span>
                <input required autocomplete="off" type="text" class="_field --obj-field -dark" maxlength="50"
                       minlength="1" name="album">
                <span class="_warning">올바른 앨범 이름을 입력해 주세요.</span>
            </label>
            <label class="--obj-label -dark" data-id="releaseDate">
                <span class="_text">발매일</span>
                <input required autocomplete="off" type="date" class="_field --obj-field -dark" maxlength="50"
                       minlength="1" name="releaseDate">
                <span class="_warning">올바른 발매일을 입력해 주세요.</span>
            </label>
            <label class="--obj-label -dark" data-id="genre">
                <span class="_text">장르</span>
                <input required autocomplete="off" type="text" class="_field --obj-field -dark" maxlength="50"
                       minlength="1" name="genre">
                <span class="_warning">올바른 장르를 입력해 주세요.</span>
            </label>
            <label class="--obj-label -dark" data-id="name">
                <span class="_text">곡 이름</span>
                <input required autocomplete="off" type="text" class="_field --obj-field -dark" maxlength="50"
                       minlength="1" name="name">
                <span class="_warning">올바른 곡 이름을 입력해 주세요.</span>
            </label>
            <label class="--obj-label -dark" data-id="lyrics">
                <span class="_text">가사</span>
                <textarea maxlength="10000" minlength="0" name="lyrics" class="_field --obj-field -dark"></textarea>
                <span class="_warning">올바른 가사를 입력해 주세요.</span>
            </label>
            <div class="button-container">
                <button class="--obj-button -color-primary" type="submit">음원 등록 신청</button>
            </div>
        </form>
    </div>
    <div class="content -visible" rel="mymusic.register_history">
        <h3 class="subtitle">마이뮤직</h3>
        <h2 class="title">음원 등록 신청 내역</h2>
        <div class="button-container">
            <button class="--obj-button -color-light-gray" name="selectAll" type="button">전체 선택</button>
            <button class="--obj-button -color-light-gray" name="unselectAll" type="button">전체 선택 해제</button>
            <span class="-spring"></span>
            <button class="--obj-button -color-red" name="withdraw" type="button">선택 신청 취소</button>
            <button class="--obj-button -color-blue" name="refresh" type="button">새로고침</button>
        </div>
        <table class="--obj-table -dark">
            <thead>
            <tr>
                <th></th>
                <th>음원 번호</th>
                <th></th>
                <th>아티스트</th>
                <th>앨범</th>
                <th>발매일</th>
                <th>장르</th>
                <th>곡명</th>
                <th><i class="fa-brands fa-youtube"></i> 식별자</th>
                <th>상태</th>
                <th>동작</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="--obj-check-label">
                        <input class="_input" name=check type="checkbox">
                        <span class="_box"></span>
                    </label>
                </td>
                <td>7</td>
                <td><img alt="" class="cover" src=""></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button class="--obj-button -color-red -size-small" name="withdraw" type="button">신청 취소</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<section id="player">
    <div class="album-wrapper">
        <img src="https://cdnimg.melon.co.kr/cm2/album/images/113/99/122/11399122_20240115193158_500.jpg?497dce96193633449133e33e5a314740/melon/resize/282/quality/80/optimize"
             alt="" class="image">
        <span class="title">만찬가</span>
        <span class="artist">츠키(tuki)</span>
        <button class="like" name="like" type="button">
            <img th:src="@{/assets/images/index.signed/player.album.like-false.png}" alt="좋아요" class="icon">
        </button>
        <button class="unlike" name="unlike" type="button">
            <img th:src="@{/assets/images/index.signed/player.album.like-true.png}" alt="좋아요 취소" class="icon">
        </button>
    </div>
    <div class="control-wrapper">
        <div class="bar">
            <div class="value"></div>
        </div>
        <div class="time">
            <span class="current">00:17</span>
            <span class="total">03:23</span>
        </div>
        <div class="button-container">
            <button class="button toggleable -toggled" name="repeat" type="button">
                <img th:src="@{/assets/images/index.signed/player.controler.repeat.png}" alt="반복 재생" class="icon">
            </button>
            <button class="button toggleable" name="shuffle" type="button">
                <img th:src="@{/assets/images/index.signed/player.controler.shuffle.png}" alt="무작위 재생" class="icon">
            </button>
            <div class="space"></div>
            <div class="ppn">
                <button class="button" name="prev" type="button">
                    <img th:src="@{/assets/images/index.signed/player.controler.prev.png}" alt="처음/이전" class="icon">
                </button>
                <button class="button" name="play" type="button">
                    <img th:src="@{/assets/images/index.signed/player.controler.play.png}" alt="재생" class="icon">
                </button>
                <button class="button" name="pause" type="button">
                    <img th:src="@{/assets/images/index.signed/player.controler.pause.png}" alt="일시정지" class="icon"
                         style="display: none">
                </button>
                <button class="button" name="next" type="button">
                    <img th:src="@{/assets/images/index.signed/player.controler.next.png}" alt="다음 곡" class="icon">
                </button>
            </div>
            <div class="space"></div>
            <button class="button toggleable" name="mute" type="button">
                <img th:src="@{/assets/images/index.signed/player.controler.mute.png}" alt="음소거" class="icon">
            </button>
        </div>
    </div>
    <ul class="list">
        <li class="item -playing">
            <label class="check-wrapper">
                <input type="checkbox" class="input">
                <span class="box"></span>
            </label>
            <span class="title">만찬가</span>
            <span class="artist">츠키(tuki)</span>
        </li>
        <li class="item">
            <label class="check-wrapper">
                <input type="checkbox" class="input">
                <span class="box"></span>
            </label>
            <span class="title">고민중독</span>
            <span class="artist">QWER</span>
        </li>
        <li class="item">
            <label class="check-wrapper">
                <input type="checkbox" class="input">
                <span class="box"></span>
            </label>
            <span class="title">내이름맑음</span>
            <span class="artist">QWER</span>
        </li>
        <li class="item">
            <label class="check-wrapper">
                <input type="checkbox" class="input">
                <span class="box"></span>
            </label>
            <span class="title">에피소드</span>
            <span class="artist">이무진</span>
        </li>
        <li class="item">
            <label class="check-wrapper">
                <input type="checkbox" class="input">
                <span class="box"></span>
            </label>
            <span class="title">마리골드</span>
            <span class="artist">아이묭</span>
        </li>
    </ul>
</section>
</body>
</html>