<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meltube</title>
    <link rel="shortcut icon" th:href="@{'/assets/images/favicon.ico'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/assets/styles/common.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/assets/styles/index.signed.css'}">
    <script type="text/javascript" th:src="@{'/assets/scripts/common.js'}"></script>
    <script defer type="text/javascript" th:src="@{'/assets/scripts/index.signed.js'}"></script>
</head>
<body>
<nav id="nav">

</nav>
<main id="main">

</main>
<section id="player">
    <div class="album-wrapper">
        <img src="https://cdnimg.melon.co.kr/cm2/album/images/113/99/122/11399122_20240115193158_500.jpg?497dce96193633449133e33e5a314740/melon/resize/282/quality/80/optimize" alt="" class="image">
        <span class="title">만찬가</span>
        <span class="artist">츠키(tuki)</span>
        <button class="like" name="like" type="button">
            <img th:src="@{/assets/images/index.signed/player.album.like-false.png}" alt="좋아요" class="icon">
        </button>
        <button class="unlike" name="unlike" type="button">
            <img th:src="@{/assets/images/index.signed/player.album.like-true.png}" alt="좋아요 취소" class="icon">
        </button>
    </div>
    <div class="control-wrapper">
        <div class="bar">
            <div class="value"></div>
        </div>
        <div class="time">
            <span class="current">00:17</span>
            <span class="total">03:23</span>
        </div>
        <div class="button-container">

        </div>
    </div>
    <ul class="list">

    </ul>
</section>
</body>
</html>