<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meltube</title>
    <link rel="shortcut icon" th:href="@{'/assets/images/favicon.ico'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/assets/styles/common.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/assets/styles/index.signed.css'}">
    <script type="text/javascript" th:src="@{'/assets/scripts/common.js'}"></script>
    <script defer type="text/javascript" th:src="@{'/assets/scripts/index.signed.js'}"></script>
</head>
<body>
<nav id="nav">
    <img th:src="@{/assets/images/index.signed/_logo-img.png}" alt="" class="logo">
    <ul class="menu">
        <li class="title">마이뮤직</li>
        <li class="item" rel="mymusic.register">음원 등록 신청</li>
        <li class="item" rel="mymusic.register_history">음원 등록 신청 내역</li>
    </ul>
</nav>
<main id="main">
    <header class="header">

    </header>
    <div class="content" rel="mymusic.register">
        <h3 class="subtitle">마이뮤직</h3>
        <h2 class="title">음원 등록 신청</h2>
        <form novalidate class="default-form">
            <span class="text">음원을 등록하기 위해 아래 양식을 완성해 주세요.<br> 음원은 관리자의 승인 후 등록되며 관리자의 승인까지는 수 일이 소요될 수 있습니다.<br> 또한, 이미 등록되어 있는 음원이거나 사회 미풍양속을 저해한다고 판단되는 등 등록하기에 적절하지 않은 경우 등록이 거절될 수 있습니다.</span>
            <label class="--obj-label -dark">
                <span class="_text">아티스트</span>
                <input required autocomplete="off" type="text" class="_field --obj-field -dark" maxlength="50" minlength="1" name="artist">
            </label>
            <label class="--obj-label -dark">
                <span class="_text">앨범 이름</span>
                <input required autocomplete="off" type="text" class="_field --obj-field -dark" maxlength="50" minlength="1" name="album">
            </label>
            <label class="--obj-label -dark">
                <span class="_text">발매일</span>
                <input required autocomplete="off" type="date" class="_field --obj-field -dark" maxlength="50" minlength="1" name="releaseDate">
            </label>
            <label class="--obj-label -dark">
                <span class="_text">장르</span>
                <input required autocomplete="off" type="text" class="_field --obj-field -dark" maxlength="50" minlength="1" name="genre">
            </label>
            <label class="--obj-label -dark">
                <span class="_text">곡 이름</span>
                <input required autocomplete="off" type="text" class="_field --obj-field -dark" maxlength="50" minlength="1" name="name">
            </label>
            <label class="--obj-label -dark">
                <span class="_text">가사</span>
                <textarea maxlength="10000" minlength="0" name="lyrics" class="_field --obj-field -dark"></textarea>
            </label>
        </form>
    </div>
    <div class="content" rel="mymusic.register_history">
        <h3 class="subtitle">마이뮤직</h3>
        <h2 class="title">음원 등록 신청 내역</h2>
    </div>
</main>
<section id="player">
    <div class="album-wrapper">
        <img src="https://cdnimg.melon.co.kr/cm2/album/images/113/99/122/11399122_20240115193158_500.jpg?497dce96193633449133e33e5a314740/melon/resize/282/quality/80/optimize"
             alt="" class="image">
        <span class="title">만찬가</span>
        <span class="artist">츠키(tuki)</span>
        <button class="like" name="like" type="button">
            <img th:src="@{/assets/images/index.signed/player.album.like-false.png}" alt="좋아요" class="icon">
        </button>
        <button class="unlike" name="unlike" type="button">
            <img th:src="@{/assets/images/index.signed/player.album.like-true.png}" alt="좋아요 취소" class="icon">
        </button>
    </div>
    <div class="control-wrapper">
        <div class="bar">
            <div class="value"></div>
        </div>
        <div class="time">
            <span class="current">00:17</span>
            <span class="total">03:23</span>
        </div>
        <div class="button-container">
            <button class="button toggleable -toggled" name="repeat" type="button">
                <img th:src="@{/assets/images/index.signed/player.controler.repeat.png}" alt="반복 재생" class="icon">
            </button>
            <button class="button toggleable" name="shuffle" type="button">
                <img th:src="@{/assets/images/index.signed/player.controler.shuffle.png}" alt="무작위 재생" class="icon">
            </button>
            <div class="space"></div>
            <div class="ppn">
                <button class="button" name="prev" type="button">
                    <img th:src="@{/assets/images/index.signed/player.controler.prev.png}" alt="처음/이전" class="icon">
                </button>
                <button class="button" name="play" type="button">
                    <img th:src="@{/assets/images/index.signed/player.controler.play.png}" alt="재생" class="icon">
                </button>
                <button class="button" name="pause" type="button">
                    <img th:src="@{/assets/images/index.signed/player.controler.pause.png}" alt="일시정지" class="icon"
                         style="display: none">
                </button>
                <button class="button" name="next" type="button">
                    <img th:src="@{/assets/images/index.signed/player.controler.next.png}" alt="다음 곡" class="icon">
                </button>
            </div>
            <div class="space"></div>
            <button class="button toggleable" name="mute" type="button">
                <img th:src="@{/assets/images/index.signed/player.controler.mute.png}" alt="음소거" class="icon">
            </button>
        </div>
    </div>
    <ul class="list">
        <li class="item -playing">
            <label class="check-wrapper">
                <input type="checkbox" class="input">
                <span class="box"></span>
            </label>
            <span class="title">만찬가</span>
            <span class="artist">츠키(tuki)</span>
        </li>
        <li class="item">
            <label class="check-wrapper">
                <input type="checkbox" class="input">
                <span class="box"></span>
            </label>
            <span class="title">고민중독</span>
            <span class="artist">QWER</span>
        </li>
        <li class="item">
            <label class="check-wrapper">
                <input type="checkbox" class="input">
                <span class="box"></span>
            </label>
            <span class="title">내이름맑음</span>
            <span class="artist">QWER</span>
        </li>
        <li class="item">
            <label class="check-wrapper">
                <input type="checkbox" class="input">
                <span class="box"></span>
            </label>
            <span class="title">에피소드</span>
            <span class="artist">이무진</span>
        </li>
        <li class="item">
            <label class="check-wrapper">
                <input type="checkbox" class="input">
                <span class="box"></span>
            </label>
            <span class="title">청혼하지 않을 이유를 못 찾았어</span>
            <span class="artist">이무진</span>
        </li>
    </ul>
</section>
</body>
</html>